.static{
    position: static;
    background-color: aqua;
    color: blue;
    font-family: cursive;
    width: 140px;
    height: 50px;
}
.relative{
      position: relative;
    background-color: rgb(255, 145, 0);
    color: rgba(117, 54, 3, 0.788);
    font-family: cursive;
    width: 140px;
    height: 50px;
    top: 40px;
    left: 20px;
}

.absolute{
    background-color: rgb(60, 255, 0);
    color: rgba(153, 36, 0, 0.884);
    font-family: cursive;
    width: 140px;
    height: 50px;
}
.fixed{
        background-color: rgb(68, 0, 107);
    color: rgba(255, 69, 171, 0.884);
    font-family: cursive;
    width: 140px;
    height: 50px;
    position: fixed;
    top: 50px;
    left: 100px;

}