/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(171, 180, 177);
}

h1,h2,h3,h4,h5{
    color: rgb(29, 24, 24);
}

p, label{
    color: blueviolet;
}

input{
    border: none;
    border-bottom: 1px solid red ;
    padding: 20px ;

}
input[ type="text"],
input[type="number"],
input[type="date"],
input[type="file"]
textarea{
    width: 400px;
}
textarea{
    width: 750px;
    padding: 20px ;

}
/* Cabecalho da pagina */
.header{
    height: 160px;
    padding: 20px;
    background-color: yellow;
}
.header h3{
    color: rgb(0, 0, 0);
    margin-top: 0;
}

/* bloco do formulario */
.form-container{
    background-color:white ;
    width: 1000px;
    margin:0 auto;
    position: relative;
    top: -60px;
    border-bottom: 20px;
    padding: auto;
}

.form-header{
    border-bottom:rgb(10, 91, 254) ;
    height: 45px;
}

.form-header p{
    border-bottom:purple;
    color: rgb(255, 0, 170);
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45;
    line-height: 45px;
}
/* Corpo do Formulario */
.form-body{
    padding: 40px;

}

.form-title{
    margin-bottom: 15px;
    
}

.form-body p{
    margin-bottom: 40px;
}
.required-field{
    color: red;

}
.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
}
.optinal-box{
    display: inline-block;

    margin: 30px;
}
.optinal-box p{
    padding: 20px
}
.optinal-list li{
    list-style: none;
    margin-bottom: 4px;
}

.box-input p{
    margin-bottom: 20px;
    padding: 20px;
    
}

.btn-submit{
    background-color: purple;
    color: aliceblue;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: 20px;


    

}
.btn-submit:hover{
    background-color: aliceblue;
    border-color: purple;
    color:purple;
  
    
}
