/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(171, 180, 177);
}

h1,h2,h3,h4,h5{
    color: rgb(29, 24, 24);
}

p, label{
    color: blueviolet;
}

input{
    border: none;
    border-bottom: 1px solid red ;
    padding: 10px 0;

}
input[ type="text"],
input[type="number"],
input[type="date"],
input[type="file"]{
    width: 400px;
}
/* Cabecalho da pagina */
.header{
    height: 160px;
    padding: 20px;
    background-color: yellow;
}
.header h3{
    color: rgb(0, 0, 0);
    margin-top: 0;
}

/* bloco do formulario */
.form-container{
    background-color:white ;
    width: 500px;
    margin:0 auto;
    position: relative;
    top: -60px;
}
